@model Meghan_BugTracker.Models.IndexViewModel
@using Microsoft.AspNet.Identity;

<div class="page-header m-b-0 p-b-0 b-b-0">
    <h1>Account Settings</h1>
    <ul class="nav nav-tabs page-block m-t-4" id="account-tabs">
        <li class="active">
            <a href="#account-profile" data-toggle="tab">
                Change Profile
            </a>
        </li>
        <li>
            <a href="#account-password" data-toggle="tab">
                Change Password
            </a>
        </li>
    </ul>
</div>
<div class="tab-content p-y-4">
    <!-- Profile tab -->
    <div class="tab-pane fade in active" id="account-profile">
        <div class="row">
            <div class="col-md-8 col-lg-9">
                <div class="p-x-1">
                    @using (Html.BeginForm("ChangeName", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <fieldset class="form-group form-group-lg">
                            <label for="account-name">First Name</label>
                            <input type="text" name="FirstName" class="form-control">
                        </fieldset>
                        <fieldset class="form-group form-group-lg">
                            <label for="account-username">Last Name</label>
                            <input type="text" name="LastName" class="form-control">
                        </fieldset>
                        <fieldset class="form-group form-group-lg">
                            <label for="account-username">Display Name</label>
                            <input type="text" name="DisplayName" class="form-control">
                        </fieldset>
                        <button type="submit" class="btn btn-lg btn-primary m-t-3">Update Names</button>
                    }
                </div>
            </div>

            <!-- Spacer -->
            <div class="m-t-4 visible-xs visible-sm"></div>

            <!-- Avatar -->
            <div class="col-md-4 col-lg-3">
                <div class="panel bg-transparent">
                    <div class="panel-body text-xs-center">
                        <img src="" alt="" class="" style="max-width: 100%;">
                    </div>
                    <hr class="m-y-0">
                    <div class="panel-body text-xs-center">
                        @using (Html.BeginForm("ChangePhoto", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()
                            <label type="button" class="btn btn-primary">
                                Upload Photo
                                <input type="file" name="UserPhoto" id="MKCfile" class="form-control" style="display: none;">
                            </label>
                            <button type="submit" class="btn btn-default">Submit</button>
                            <div id="file-selected" class="m-t-2 text-muted font-size-12"></div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- / Profile tab -->
    <!-- Password tab -->
    <div class="tab-pane fade" id="account-password">
        <div class="p-x-1">
            @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                <fieldset class="form-group form-group-lg">
                    <label for="account-password">Old password</label>
                    <input type="password" name="OldPassword" class="form-control">
                </fieldset>
                <fieldset class="form-group form-group-lg">
                    <label for="account-new-password">New password</label>
                    <input type="password" name="NewPassword" class="form-control">
                    <small class="text-muted">Minimum 6 characters</small>
                </fieldset>
                <fieldset class="form-group form-group-lg">
                    <label for="account-new-password-repeat">Verify password</label>
                    <input type="password" name="ConfirmPassword" class="form-control">
                </fieldset>
                <button type="submit" class="btn btn-lg btn-primary m-t-3">Change password</button>
            }
        </div>
    </div>
    <!-- / Password tab -->
</div>

@section scripts {
    <script type="text/javascript">
        $('#MKCfile').bind('change', function () {
            var path = $(this).val(); //gets value of file
            var fileName = path.replace(/^.*\\/, ''); //removes "fakepath" in Chrome
            $('#file-selected').html(fileName);
        })
    </script>
}
