<div class="px-content">
    <div class="page-header">
        <h1><span class="text-muted font-weight-light"><i class="page-header-icon ion-android-checkbox-outline"></i></span>Assign Ticket</h1>
    </div>
    <div class="panel">
        <div class="panel-heading">
            <span class="panel-title"></span>
        </div>
        <div class="panel-body">
        @using (Html.BeginForm("TicketAssign", "Admin", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.Hidden("userId", (string)ViewBag.UserId) //cast: stating what type the ViewBag is i.e. string in this instance

            <div class="form-group text-left">
                <label for="validation-multiselect" class="col-sm-3 control-label">Assign Tickets</label>
                <div class="col-sm-9">
                    @Html.ListBox("AllTickets", null, htmlAttributes: new { @class = "form-control" })
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Assign</button>
        }
        </div>
    </div>
</div>

