@model Meghan_BugTracker.Models.Project

<div class="px-content">
    <div class="page-header">
        <h1><span class="text-muted font-weight-light"><i class="page-header-icon ion-android-checkbox-outline"></i>Project / </span>Create</h1>
    </div>
    <div class="panel">
        <div class="panel-heading">
            <div class="panel-title">New Project</div>
        </div>
        <div class="panel-body">
            @using (Html.BeginForm())
            {
            @Html.AntiForgeryToken()
                <fieldset class="form-group">
                    <label for="form-group-input-1">Name</label>
                    <input type="text" class="form-control" name="Name" id="form-group-input-1" placeholder="Project Name">
                </fieldset>
                <fieldset class="form-group">
                    <label for="form-group-input-2">Description</label>
                    <input type="text" class="form-control" name="Description" id="form-group-input-2" rows="5" maxlength="1000" placeholder="Project Description">
                    <small class="text-muted">Maximum length is 1000 characters</small>
                </fieldset>
                <fieldset class="form-group text-right">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </fieldset>
            }
        </div>
    </div>
</div>

