
<div class="px-content">
    <div class="page-about-us-header page-header m-b-0 b-b-0 text-xs-center bg-default" style="background-image: url('../../assets/demo/bgs/7.jpg'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
        <h1 class="m-b-1 font-size-28 font-weight-bold" style="color:coral;">About Kink Fix</h1><br>
        <span class="font-size-18 font-weight-semibold" style="color:coral;">Error Management System</span>
    </div>
    <!-- Contacts -->
    <div class="page-wide-block">
        <div class="box m-a-0 valign-middle border-radius-0 text-xs-center font-size-14">
            <a href="#" class="box-cell col-md-4 p-x-1 p-y-2 text-white" style="background: #4ab6d5;"><i class="fa fa-bug"></i>&nbsp;&nbsp;Fix bugs faster</a>
            <a href="#" class="box-cell col-md-4 p-x-1 p-y-2 text-white" style="background: #1a7ab9;"><i class="fa fa-code"></i>&nbsp;&nbsp;Monitor code quality</a>
            <a href="#" class="box-cell col-md-4 p-x-1 p-y-2 text-white" style="background: #888;"><i class="fa fa-users"></i>&nbsp;&nbsp;Increase team productivity</a>
        </div>
    </div>
    <!-- / Contacts -->
    <!-- About text -->
    <div class="page-about-us-text page-block panel m-y-0 b-a-0 border-radius-0 font-size-16">
        <div class="m-x-auto" style="max-width: 800px;">
            <p>
                With comments, attachments, and affected users you will have all the information needed to identify and resolve errors quickly.
            </p>
            <p>
                With tracking, error histories, and detailed dashboards, managing errors has never been easier.
            </p>
            <p>
                Collaborate and prioritize with Kink Fix's streamlined workflow integrations.
            </p>
        </div>
    </div>
    <!-- / About text -->
    <!-- Locale -->
    <div class="page-wide-block m-b-4">
        <div class="box border-radius-0 m-a-0">
            <div class="box-cell col-md-12 col-lg-12 p-x-4 p-y-3 valign-middle bg-black text-center">
                <h4 class="m-t-0">Kink Fix</h4>
                <div><small><strong></strong>1231 Shields Rd.</small></div>
                <div><small>Kernersville, NC 27284, USA</small></div>
            </div>
        </div>
    </div>
    <!-- / Locale -->
    <!-- Team -->
    <h3 class="m-y-4 p-t-4 text-xs-center">The Team</h3>
    <div class="row">
        <div class="col-md-6">
            <div class="panel box">
                <div class="page-about-us-team-avatar box-cell p-y-3 p-l-3 valign-top">
                    <img src="~/MyImages/Admin.jpg" alt="" class="border-round">
                </div>
                <div class="box-cell p-y-2 p-x-3 valign-middle">
                    <div class="font-size-14"><strong>Admins</strong></div>
                    <p class="text-muted font-size-11 font-weight-semibold">OVERSEERS</p>
                    <p>Admins have access to all tickets and projects.</p>
                    <div>
                        <a class="text-muted"><i class="fa fa-bug"></i></a>&nbsp;&nbsp;&nbsp;
                        <a class="text-muted"><i class="fa fa-code"></i></a>&nbsp;&nbsp;&nbsp;
                        <a class="text-muted"><i class="fa fa-users"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel box">
                <div class="page-about-us-team-avatar box-cell p-y-3 p-l-3 valign-top">
                    <img src="~/MyImages/Project_Manager.jpg" alt="" class="border-round">
                </div>
                <div class="box-cell p-y-2 p-x-3 valign-middle">
                    <div class="font-size-14"><strong>Project Managers</strong></div>
                    <p class="text-muted font-size-11 font-weight-semibold">LEADERS</p>
                    <p>Project Managers have access to their projects and all tickets.</p>
                    <div>
                        <a class="text-muted"><i class="fa fa-bug"></i></a>&nbsp;&nbsp;&nbsp;
                        <a class="text-muted"><i class="fa fa-code"></i></a>&nbsp;&nbsp;&nbsp;
                        <a class="text-muted"><i class="fa fa-users"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel box">
                <div class="page-about-us-team-avatar box-cell p-y-3 p-l-3 valign-top">
                    <img src="~/MyImages/Developer.jpg" alt="" class="border-round">
                </div>
                <div class="box-cell p-y-2 p-x-3 valign-middle">
                    <div class="font-size-14"><strong>Developers</strong></div>
                    <p class="text-muted font-size-11 font-weight-semibold">CODERS</p>
                    <p>Developers can access their project's tickets and resolve issues.</p>
                    <div>
                        <a class="text-muted"><i class="fa fa-bug"></i></a>&nbsp;&nbsp;&nbsp;
                        <a class="text-muted"><i class="fa fa-code"></i></a>&nbsp;&nbsp;&nbsp;
                        <a class="text-muted"><i class="fa fa-users"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel box">
                <div class="page-about-us-team-avatar box-cell p-y-3 p-l-3 valign-top">
                    <img src="~/MyImages/Submitter.jpg" alt="" class="border-round">
                </div>
                <div class="box-cell p-y-2 p-x-3 valign-middle">
                    <div class="font-size-14"><strong>Submitters</strong></div>
                    <p class="text-muted font-size-11 font-weight-semibold">HELPDESK</p>
                    <p>Submitters create issue tickets for each project.</p>
                    <div>
                        <a class="text-muted"><i class="fa fa-bug"></i></a>&nbsp;&nbsp;&nbsp;
                        <a class="text-muted"><i class="fa fa-code"></i></a>&nbsp;&nbsp;&nbsp;
                        <a class="text-muted"><i class="fa fa-users"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- / Team -->
</div>
